*{
    color: #4f4f4f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

body{
    margin: 0;
}

/*nav bar*/
nav{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav h1{
    text-align: center;
}
.nav{
    width: 40%;
    list-style-type: none;
    padding: 0;
    margin: 0 1rem;
    display: flex;
}

#navlinks{
}
#navlinks li{
    width: 33%;
    text-align: center;
}
#navlinks a{
    display: block;
    border-right: 1px solid black;
    padding: 10px 0;
}
#navlinks a:link{
    background: none;
}
#navlinks a:hover{
    animation-name: navHover;
    animation-duration: .75s;
    background: #dbdbdb;
}
#navlinks a:focus{
    background: none;
}
#navlinks a:active{
    background: none;
}

#sociallinks{
    width: 25%;
}
#sociallinks li{
    margin-right: 15px;
}

@keyframes navHover{
    from {background: none;}
    to {background: #dbdbdb}
}
/*nav bar*/

/*index*/
/*aboutme*/
#aboutme{
    width: 40vw;
    margin: 3rem auto;
    margin-bottom: 100px;
}
#aboutme img{
    display: block;
    width: 150px;
    height: 175px;
    border-radius: 30px;
    border: 2px solid grey;
    margin-right: auto;
    margin-left: auto;
}
#aboutme p{
    padding: 2rem;
    text-align: center;
}
/*aboutme*/
/*minigallery*/
h2{
    text-align: center;
    clear: both;
}
#fproj{
    margin-bottom: 60px;
}
#featuredprojects{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    grid-row-gap: 3rem;
    grid-template-areas: 
        "proj1 proj2"
        "proj3 proj4";
}
#proj1{
    grid-area: proj1;
}
#proj2{
    grid-area: proj2;
}
#proj3{
    grid-area: proj3;
}
#proj4{
    grid-area: proj4;
}
.projectdisplay{
    width: 60%;
    justify-self: center;
    border-radius: 15px;
    background: #dbdbdb;
}
.projectdisplay img{
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
    animation-name: indexIMGleave;
    animation-duration: .75s;
    filter: none;
}
.projectdisplay img:hover{
    animation-name: indexIMGHover;
    animation-duration: 1s;
    filter: opacity(30%);
}
.projectdisplay h3{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 1px solid black;
}
.projectdisplay p{
    padding: 2rem;
}

@keyframes indexIMGHover{
    from {filter: none;}
    to {filter: opacity(30%);}
}
@keyframes indexIMGleave{
    from {filter: opacity(30%);}
    to {filter: none;}
}
/*minigallery*/
/*index*/


/*gallery*/
#galleryheader{
    text-align: center;
    margin-top: 75px;
    margin-bottom: 50px;
}
#gallery{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}
.gallerydisplay{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 75px;
    background: #dbdbdb;
    padding: 2rem;
    border-radius: 15px;
}
.gallerydisplay img{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.gallerydisplay h2{
}
.displayheader{
    font-weight: bold;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 40px;
    border-bottom: 1px solid grey;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.gallerydisplay a, #resume a{
    display: block;
    background: grey;
    border-radius: 30px;
    width: 100px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    text-align: center;
}
.gallerydisplay a:link, #resume a:link{
    animation-name: playableLink;
    animation-duration: .4s;
}
.gallerydisplay a:hover, #resume a:hover{
    background: #bdbdbd;
    box-shadow: 0px 8px black;
    animation-name: playableHover;
    animation-duration: .5s;
}

@keyframes playableHover{
    from{background: grey; box-shadow: none;}
    to {background: #bdbdbd; box-shadow: 0px 8px black;}
}
@keyframes playableLink{
    from {background: #bdbdbd; box-shadow: 0px 8px black;}
    to {background: grey; box-shadow: none;}
}
/*gallery*/


/*resume*/
#resume{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
}
#resume h1, #resume p, #resume h3{
    text-align: center;
}
#resume h3{
    margin-top: 50px;
}
#resume h2{
    border-bottom: 1px solid black;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}
#resume dl, ul{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#resume dt{
    float: left;
    margin-right: 10px;
}
#awards, #resume dl{
    width: 40%;
}
/*resume*/

@media only screen and (max-width: 650px){

nav{
    flex-direction: column;
}
.nav{
    margin: 0;
    padding: 0;
}
#navlinks{
    margin-bottom: 25px;
}
#sociallinks li{
    margin: 0;
}

/*index*/
#featuredprojects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projectdisplay{
    width: 80%;
    margin-bottom: 50px;
}
/*index*/

/*gallery*/
.gallerydisplay{
    width: 100%;
}
/*gallery*/

/*resume*/
#awards, #resume dl{
    width: 80%;
}
/*resume*/
}